@charset "utf-8";
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated-fast {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated-zing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
@-webkit-keyframes easeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes easeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.easeInLeft {
  -webkit-animation-name: easeInLeft;
          animation-name: easeInLeft;
}
@-webkit-keyframes easeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes easeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.easeInRight {
  -webkit-animation-name: easeInRight;
          animation-name: easeInRight;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}
.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
          animation: scaleDown .7s ease both;
}
.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
          animation: scaleUp .7s ease both;
}
.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown .5s ease both;
          animation: scaleUpDown .5s ease both;
}
.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp .5s ease both;
          animation: scaleDownUp .5s ease both;
}
.pt-page-scaleDownCenter {
  -webkit-animation: scaleDownCenter 0.4s ease-in both;
          animation: scaleDownCenter 0.4s ease-in both;
}
.pt-page-scaleUpCenter {
  -webkit-animation: scaleUpCenter 0.4s ease-out both;
          animation: scaleUpCenter 0.4s ease-out both;
}
/* scale and fade */
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: HeitiJ-Light, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
input:-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:active {
  text-decoration: none;
}
ins,
a {
  text-decoration: none;
}
fieldset,
img,
button,
input {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
:focus {
  outline: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
body {
  font-size: .6rem;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: .9rem;
}
h5 {
  font-size: .7rem;
}
h6 {
  font-size: .6rem;
}
iframe {
  display: none;
}
[id^="ads"] {
  display: none!important;
}
[class^="ads"] {
  display: none!important;
}
body {
  padding-bottom: 2.13333333rem;
}
.footer {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 2.13333333rem;
  bottom: 0;
  background-color: #f9f9f9;
  text-align: center;
  color: #666;
  box-shadow: 0 0 3px #cecece;
}
.footerBar {
  font-size: 0px;
}
[data-dpr="2"] .footerBar {
  font-size: 0px;
}
[data-dpr="2.5"] .footerBar {
  font-size: 0px;
}
[data-dpr="2.75"] .footerBar {
  font-size: 0px;
}
[data-dpr="3"] .footerBar {
  font-size: 0px;
}
[data-dpr="4"] .footerBar {
  font-size: 0px;
}
.footerBar li {
  display: inline-block;
  width: 4rem;
  font-size: 10px;
  border-top: 1px solid #cecece;
  box-sizing: border-box;
  text-align: center;
}
[data-dpr="2"] .footerBar li {
  font-size: 20px;
}
[data-dpr="2.5"] .footerBar li {
  font-size: 25px;
}
[data-dpr="2.75"] .footerBar li {
  font-size: 28px;
}
[data-dpr="3"] .footerBar li {
  font-size: 30px;
}
[data-dpr="4"] .footerBar li {
  font-size: 40px;
}
.footerBar li .icon {
  font-size: 23px;
  display: inline-block;
  margin-top: 0.34133333rem;
}
[data-dpr="2"] .footerBar li .icon {
  font-size: 45px;
}
[data-dpr="2.5"] .footerBar li .icon {
  font-size: 56px;
}
[data-dpr="2.75"] .footerBar li .icon {
  font-size: 62px;
}
[data-dpr="3"] .footerBar li .icon {
  font-size: 68px;
}
[data-dpr="4"] .footerBar li .icon {
  font-size: 90px;
}
.footerBar li.active {
  color: #ff4965;
}
body {
  background-color: #f9f9f9;
}
.news-list {
  background-color: #fff;
}
.news-list .item {
  font-size: 0px;
  padding: 0.42666667rem 0.53333333rem;
  border-bottom: 1px solid #eee;
}
[data-dpr="2"] .news-list .item {
  font-size: 0px;
}
[data-dpr="2.5"] .news-list .item {
  font-size: 0px;
}
[data-dpr="2.75"] .news-list .item {
  font-size: 0px;
}
[data-dpr="3"] .news-list .item {
  font-size: 0px;
}
[data-dpr="4"] .news-list .item {
  font-size: 0px;
}
.news-list .item .img-box {
  width: 4.26666667rem;
  height: 3.2rem;
  display: inline-block;
  vertical-align: top;
}
.news-list .item .img-box img {
  width: 100%;
  height: 100%;
}
.news-list .item .img-info {
  width: 10.66666667rem;
  height: 3.2rem;
  padding-left: 0.512rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.news-list .item .img-info .title {
  margin-top: 0.10666667rem;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
[data-dpr="2"] .news-list .item .img-info .title {
  font-size: 28px;
}
[data-dpr="2.5"] .news-list .item .img-info .title {
  font-size: 35px;
}
[data-dpr="2.75"] .news-list .item .img-info .title {
  font-size: 39px;
}
[data-dpr="3"] .news-list .item .img-info .title {
  font-size: 42px;
}
[data-dpr="4"] .news-list .item .img-info .title {
  font-size: 56px;
}
.news-list .item .img-info .content {
  margin-top: 0.10666667rem;
  width: 100%;
  height: 1.32266667rem;
  font-size: 12px;
  line-height: 0.64rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-dpr="2"] .news-list .item .img-info .content {
  font-size: 24px;
}
[data-dpr="2.5"] .news-list .item .img-info .content {
  font-size: 30px;
}
[data-dpr="2.75"] .news-list .item .img-info .content {
  font-size: 33px;
}
[data-dpr="3"] .news-list .item .img-info .content {
  font-size: 36px;
}
[data-dpr="4"] .news-list .item .img-info .content {
  font-size: 48px;
}
.news-list .item .img-info .time {
  margin-top: 0.21333333rem;
  font-size: 11px;
  color: #999;
  text-align: right;
}
[data-dpr="2"] .news-list .item .img-info .time {
  font-size: 22px;
}
[data-dpr="2.5"] .news-list .item .img-info .time {
  font-size: 28px;
}
[data-dpr="2.75"] .news-list .item .img-info .time {
  font-size: 30px;
}
[data-dpr="3"] .news-list .item .img-info .time {
  font-size: 33px;
}
[data-dpr="4"] .news-list .item .img-info .time {
  font-size: 44px;
}
.news-list .item .img-info .time i {
  margin-right: 0.21333333rem;
}
.load-more {
  text-align: center;
  padding-top: 0.64rem;
  padding-bottom: 1.06666667rem;
  color: #999;
}
