@charset "utf-8";
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: HeitiJ-Light, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
input:-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:active {
  text-decoration: none;
}
ins,
a {
  text-decoration: none;
}
fieldset,
img,
button,
input {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
:focus {
  outline: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
body {
  font-size: .6rem;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: .9rem;
}
h5 {
  font-size: .7rem;
}
h6 {
  font-size: .6rem;
}
iframe {
  display: none;
}
[id^="ads"] {
  display: none!important;
}
[class^="ads"] {
  display: none!important;
}
body {
  padding-top: 2rem;
}
.beibei-app .navbar,
.xiaomi-life .navbar {
  display: none;
}
.beibei-app,
.xiaomi-life {
  padding-top: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  border-bottom: 0.05rem solid #cecece;
  box-sizing: border-box;
  z-index: 999;
  height: 2rem;
}
.navbar .title {
  height: 2rem;
  margin: 0 2rem;
  color: #333;
  line-height: 2rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}
.navbar .back-btn {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0.5rem;
  top: 0;
  line-height: 2rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAD1BMVEUAAAAzMzMzMzMzMzMzMzNw57/sAAAABHRSTlMALXdUj37J9QAAAC1JREFUGNNjQAAhBhTA6KKAwhdxcUaVdnFElXYRGBrSED66+iGowBlnfCHiEwBo7hOtF67jkAAAAABJRU5ErkJggg==') 0 0.6rem no-repeat;
  background-size: auto 0.8rem;
}
.navbar .home-btn,
.navbar .setting-btn,
.navbar .share-btn,
.navbar .search-btn,
.navbar .login-btn,
.navbar .signup-btn,
.navbar .icenter-btn,
.navbar .word-btn {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  top: 0;
  line-height: 2rem;
  background-position: 0.6rem center;
  background-repeat: no-repeat;
  background-size: auto 1rem;
}
.navbar .home-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAnCAMAAAC7faEHAAAAilBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzORiUCaAAAALXRSTlMAPg6wpvTpY0uM+oc1HX4F4tzYwM2gcDEl77y2k0YJ5moZFMWql1xYTnQoUS0UqPSTAAABcElEQVQ4y9XU2ZKCMBAFUBEwCoqILLKvAi73/39vWpZSJEBNzdPcF0LqVKXpJKxGOYaSelkt5nhTAENYYpGKV+LtPFsHgOLngFsdZ1hmEdut7iY92DQ8iICs0eByBmBPwbtH7NYMU5GgFnHZ3gRc1hcqEVR5UDCATfXuz5VgsB6xOgb0+nNmpwBW9sUqd9xdjWBxGEwxmsqd7zVsGfAvnxMAPM6mJgTPz/cCxMSU14PSBcx992UqoFzX/J4+9L7uKCAmEuMnfPVB6GqTPYvx2V7TAZyoKB9tSh7LTDShVmxzXdc3gM9d1YUc60ZT/UEQhGTC1Rt4W+Hd2Ccg8tx2A2twCKadtP6TcyypkArLPs67i4k2ybwr0cXLZh0DijC0Y+SHJafR6gbOi25Hu3r6767snZc252rszAdjrLJ6Z2gsSdhVHjoHUFyZorT9MwG5ew2iD5f56GM4zRXsIw9/EqkdBLtXbvfmEtZqG81Z/So/wyY6V3raaHoAAAAASUVORK5CYII=');
}
.navbar .setting-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsdJREFUeNrMWNGRnDAM3b3Z/zgVHB2EEkgHdBBKIB24g9sO4g6yHRzXgUugBKcCYhKRURRJyJibiWY0C6yRH5IsP/m6LMvlf5bbSXbarI48S1ljteXVg5UaFllirf1acO2yL0PNHLUhxmH9SkL6Cr9NzQRPhjF91inrnNUr4yKM21SSEWxFsF2VgwMTsoD+H9HzjrzLjQ+lKVACbkbXD3KvAVwlZZ3IvQmkBK5nDDhYldJqbYmNSRibYCx1QF8CcBK+DoNcJ/JZGyUKDt6fCTguSnMJwIRecsyknnm+p57xsiOpYgboSfjcCQWd824UFpNpkYQCkAOMn0ADylsLONH+3lfiXByFxZSUXSQJ79Hcc0e3OpzcTkmDTSZh9YZC2yLAFupZR4qwV8pQEhbNQLzrFS/e0bydBFBjJY7kTxLKBvfBGGQjVAuRBVlYSVS+3BtW66Dk8UOZ95cnr8CoO8Q+KCuhxDNk/QLXH+H/PVnJwXPWN5jrgphOQ4jvC1x/XknHTWElkmwG34zgNpvPDPWaQavo1hmSGP54Gh+UJmsLe5bLkR6FA7jm4oKUhnu7/5B1MMyx5twnAWAgc71qhDW+Q5mhW1ojFOuF4Z6O1sGNGnnQoBBKTwp1x4DrCLg78z8mwNu8f+3he2wjKVwtMF8dQKOh/ZwUz55GFryh7bwz22Bv7Z2tdEvLtQZATMjjEzxrjFtgKAU4GsHVNv1JyVEV4KyAcwdPC3om1C2pCP+897RTjLmThLUOfjM33r/r4PrOd/gt200MbefmRantTJBDDZPDs8COHBNiX9O4JwJuluiR0LgvTA9StUi0o4/NAw4Sew/gA3k3GNuBouM33HgHkuidASAN3R28lyyE13L8FkDdDv+zspsRTslMXPJ2gGZJ8qKw6VJbf+R6wiF6RHSKyg9g0emo8TMAOiW8sQbcWQDfVX4KMABrNmJrS3belwAAAABJRU5ErkJggg==');
}
.navbar .share-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZVJREFUeNrEV8FthTAMLaj3RuoCGYERMgIjMAIjMAIjZIAeGCETVBmBa9ULvfWWhuqlskwSfX6NfiSLEJs8B95zQhNCeHpEe75gzi5aT+6XaP4Qta9YyFQ0F/LNwv8XLwmcQH20PpqJNkRbMb5cATwQUJV5Ex5+Iw288ImZ9fDPaawVIpTC1RX8CyHeb2uFGa0rTN/bKgm8g72iPxZipsMbqXw3jW/WVeQzEcl84zoRgilIKYDdVVabjB63aCMjy8p8Hfr0mUBAuxpwT4I9sl/I2Bu754VBgbkOwI69gSywIlkOLLDLrMD8R4K5ImALwQb+dwnttxkp2AIzd0Z+SUnw7CQvpFiIASdx94VYg+uHSKk5Qa6VMV6MXCU5WSYnV5GTJnJykJ65BTix199RQIZQbvYW4HtLZi5BuohZ+iCwJ/iJyftCgok7SvogcNgEmM08Mcn9eK343JUHAV3xmTP78RlLkhszvrTBbFd8Y00IZAGmIbEtl5TkuZpvnbRNPL4R/ndSqPUGfY/d7kC85lE/bT8CDAAPfvL3he2THAAAAABJRU5ErkJggg==');
}
.navbar .search-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAhFBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPF5ewFAAAAK3RSTlMA7xGrzYhm9waV6dOZQQwKxaWOReRdE4N+Y0osJhnasaJxaldOPLy1NjAVAl8BWgAAARdJREFUOMvt0ulygjAUhuETkbKDoOJW1Lp0e+///momOA0h4/R/ff7lI+FkOfJk2+aZQk2TQh4677nL5iaah5Y+qwJsSazDCEtk5s0AFV4n0haJ/n7QM4/KUotWA3krRhfokfgsgTdr3ABbGYsXkAySADL/D9NykHQRmGO669dO1OgaI7fKOycqYCquCoidrAMlrokvBEZZCZGbtXrxampZ3dLUv8fxEx7wn3oTWDbee2yV9x6rBTSDpPa/jGyAkzVe+9+6757kXn1Se7vntx/T8FrKd9GkwEcsfmWALTfzvJYL685e5YH4ctxHRFl+glm/26FRmbDv9xlDyi1UZaa4wlGI49MU370MXWRkBWf5i/g9/ZL/6QdJFiurcPxmKgAAAABJRU5ErkJggg==');
}
.navbar .login-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAGM0lEQVR4Ad2aC3BMZxTH7YYlJJERHRplOw1SGVakilFZWq96VVum1VajhraqjyG0Rom3Mkq9Kq8xBCWdYBCPtirSSJSWIUyDUq+s7KYr2bWbTVaSle3/TM/tbO9U3JV777b9Zn6zk+/ee+793+983/nOuWmkRLu6sJEG6EAoCPehJWgOgkAjOZHTmIYfUg96mVINY21H5y4qPzJr2V/kzF56++B7iThuBJ1AGND+m4Q0Ae1Mqd1fchXtzLnnttm99bS62qq77uKCs5bMUe/iuidA04ALYREd7fmfJdfVut1eP5vzzMZDuN4AmgVSiAa0IxHeBjRnYcYp2HkSNA6UkGBTWuxoHokGNWv2pK2w1ypQQtrhbe7zytBcl/ZaYO+5QAnpXlN++bocQu5VV9TC3mygVVuIBhi9MjYs2bto0qstRGdK6fqKnEJKs8bkwW57tYWEUsCTV8jLx2G3h9pCwilayynEfmzJRdjt/Z8Xcuendddg90W1hUSUHZ75ubxC1l6H3XFqC4l0ntuy9/8gJMpVlJWrgJA31BTSGPThYChbu2s+bYfdKSBILSEhtryFSV4FmmX7sO2U16glJKw859MlSgjhoNhRLSHNSneOTVBCiCml2x7Yj1ZLiBZ0rrx84JScIrAKmmB3PWil5qoVDAbW2q/ZZNzGbwIvBGIb3955dtN+OYQguJ6DvbcClY+0KP169GQ5cpEbK9tkUvUlUEK0IMZ9I++8DIFwBQgOlBAijEalrsZV8zAiPBVmN4/G0ECXg7RAf+fk6qyHzEEKcH0SCA60EEIHDHdOrjnuz7zgCb4ORIm2PyEgnH8bqymEaF32XeIqKSJqyn6tQJp8ENcs5wneHHQAcWCwLTdpIeU69Et/g1gQyfm8RkkhQSAK25btUkRgTmTh/BmgLdCj6DDGdWHXEY+zxPJP11A/kq4dt9KfGsGCmihVMtVb906YR4U6iSISQQSIo7qY1AKfp/K2E+lwGu0qgE7OclAL0M12bHF6vQ/Dc6Iko38Ozp/JIvpQIVt8DkV4Snmt+yaepWW56vrR22Jb9oJlB7jEKohp0ChEUvW98so3J/yIFSuBHhhIhK8APv4VWAs+AhPACPDOjS8i19M+7G9i8pce4kp+EHiopTYc9KRR4M8HUiN3FseKtniIFNFI5aJ/DXgTGG258xb8+S1l6nQaORAF+mLyHxNt+Ul0K+CXgDAQg8TnQ38zQ97VrgItQbzvCyjJMP7AIzXcdWH392IX9VSVOeBKG3C8K4jFyOWLMsqBQCslpY0ABsuO4e+TOzQg6I0FbRynkreKBKaCIfXbpnmxPJvzlPhq6y9mof9WWo8Mmqv3e/sh4HHQD0FrRXVp4UVvAxrsbGX3iPG1xbFkEot7YCvZ3G8xZY+0cgl9cPFL6Osijs5tQZwlc+QUqpCQC8hUUEjne/QWbNJSjL83gv4cP6TmLE+DoUIfrWpUQvJNkgyO0ykZClVG5vF9jKIHWATi/bQ1DfRi8ULfLEFIh6prOXnCBQoK6S+aHzOA0U9bSaAnvXBf+4KQbnRAQSEL+D59hVWJ+6eCnlJdmEdxDhggsjNHEBKrlBD+ErUMaIGB7yP0rwSd6JO2xHS4kLY3iPpzRYH2YyWFiEs8LcBjzsLN2aI8PfpWetwoT6W1QsLIbgSv+S7V1v1vn0TfKFWE2PIWXaaAJs7xaVRurtGTq3S07BgxFc/gvJ9LcRb5iXVPwnzf7JIrL11VEcI3nAKagmjfehg9vCk5ZjyJAYOwLTnq+Hn9VXIZ/P5m3jLgMAfN6cVfdp7M84lHdMZ59M8nDaoIYRc4wblECFxpJNfDWMwVh3nboJmcWEWDIeB1QAITwMiyb6etpgkumvhpHFfk/8xc36gUr4uiXW0oiCBX8lRYqnzPoWoMbSgR8V+lzJACM0YmU/xsFEzZ1SaKt/FR1b+fL/Iq3OBSN33+VaN18YYuCXctZ8r9rUiyiEQQLBYSiq10PCbSTmzw8iVSQD5KSRD584Mgv3ecTi0yb3l2NgvRgDDwDFLkH/GWH7hq8eYzGYwTRIiFaIAOPAIMEoll/3wejJPIGDBMVKTWgUfBePO2wbtpSRZeDv3S33C1bJ7wHwgVFzF/AI0v+J4OCooTAAAAAElFTkSuQmCC');
}
.navbar .signup-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAEYElEQVR4Ad2af2xTVRTHX98KtjDqHP5AGhyxU5fpumqcEp3a6B/+CDJRNI1EJNFEiDEmw8RARpMh/ghqVIh0GLMUzZx2xg4VDWgxhaHTEYGRBYd0Izau3djarS0ta2X1e5NeM1/6ltf1vneVk3z+2ntn+fT1vHPvuRXUiECzoANzwQJQNo1LwTxQAgSGME2mA/NABbgt2GJdFTnQtGXs+5df/wffxlfP7l3fiL/fDa4DJiD+l0TmAHOwpXZloq/DdyEViWZniKlM8nzqj66jofaHn8N914JLeItQicroodd2TmVSqWyBEfv1w29wvxUYeIrogJlIZIuI2DF3D/JUAT0vEWNwl62BPoliYuTLZz5CvnJeImZ8mnuyDCLxW2cI+e7lJVKbHjs1yELkwmQ8g3wbgai1iAjsWYaBV/bnpOi1FjGEP214lqVI2POYH3mXaC1iGvNt2spW5NHDyHuz1iJlpFuzFIke3HoSeW//34uM/7x9AHkf0Vpk4ej+l95kK/LeIPI6tBZZHDu+u/NiELEk+jw/qCCyWksRPVjGqhnSOD90JIq860CJViKlEX/z5qwKEWp7sI3sa9iIcOghkqZYqZWIIdyxao0aIkFXjRf5b9BKRATXnzv1dQ9LCbwFg8i7A5RrJUIwgvsy0YEIw2V8K1jBYxm/JHa09SsWImiux5FvLa/9yHwWK2CyFznz1lXtZPrCS0QE1akz/l4GjXAbMPISIZjIU5lKJ9KzkfgrPpTKPY37eY+DRFAx3v2OZ5Z7kC7cvxkYeYsQ5gLrePe7hwupi1yBbweW6dsDYAN2UA+qQKlWIoTLR/c1vq1EIj3aHw+6btqLe94AdZI8tn9dGzkdIJ1eK5ESYMGypU2JBGrCg+s3yDQ+e56FpFOrkWnFSOfTTjqom7mwrySTkkZJTXAV0YH5oCZy8JUPlEwbw5+t/FFS2NxF5oDFZPp+7vdvfypgCeKihc1bRARl4FbyFOjxgZLIFfeTQOApIgITqMbG54VCd4bJwQNncW8LKOclogcLgTX0yUPPk8OZ2S0IN5xAjvXSPiHDi3lEWqXXSfuM3KdfCpaCejStbZPhYyezRcTQbvt+5LpD0ieYBO0z0u68CNwSal++jkxIaA0UG8j5MTDTr44KAwvn9E2SdeKIy814MkJF3EDIsUwFkU00+TXJAZ+ftYCMyNLk6X1esnSXQ9pE5a6b+GVHACfF3aSuaPIaFZ6E9KtFZ1UGsAg4ZGjO84nvkrn2CdAA6qiITU0RFPt3uR8PCOq9fjUQifi39JOXCB8R9gW5FogcRNgGjrFJnZi4ijCcW90J9GqK1KotQmL4i9V78L+uBjogyFCfR6RJqYhlcri3T20Rsk8P7rzRkVtFCDJUkWUHESDET7QFyG5SqciCP9333DXiXdOBqcYhhXRhMdhLzv1Ic1LCRM/7/cPep8gO8bKZjixAJXCCppzECqUi9IdiVwCrQmygDjwAHAp5HCynmyuW/A1dYKIjOtsYKgAAAABJRU5ErkJggg==');
}
.navbar .icenter-btn {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABCFJREFUeNrsWr9P21AQNqhiKq2ZYKIPRoRUb81oVULqRsZOKH+Cl+4eO3Twf1Bv3aowIjE4G50wEkIoAuQEBjLhoC4diPvO3EtfHnbq2BfHgpx04jn+9T7u3t1997wQRZH2nGVRe+YyBzgH+MIBMq4WV49ryDWS1MNzbKozgCg6BdW5OlF2cfAe8rksTCFNGFxdru8nvK/Dtc7Vr7IFDa6hbJogCCLLsiLDMIbuyRiLf4NzioT4DLI5UbulL8/Wtu1IWXdPFIAqElC6KyXAkTXXaDRkIAG6rY3q4G/xebhWEbdqAFmK5QBEI/XlmmYKoAmWNKoE0JHXHIKDYPFfV4Nr0LqR53nkVqQCGCiumQmcAtSr1+tDdIPBoF8VgCPuiQmdTTyRR0uGXEjddJGoWoml1WrBH3DXIEe6gn+M4/u+mlNnW6r1+/1PYszXn4brKa84fB0OD25ubmYP8OLiYk2Mb29v+3msJ1txeXm5J457vZ4+c4D8P34vxjs7O4Xrvu3t7d9ifHV1xWYOsN1uvxHjjY2NBQKAr8X48PAwKBwhCodhTnmUBM2oIvL6+vrXKkRRf39/Xz62CzyrIQYnJydat9s9qoIFWUItaeS0XqgUDEYlKpnHDDFCffwJGcEIE8FyL6xMqQZuaZqmasWsIJ/QLCjZIJ9WCSBLYQRghcYYoA2VIDuOI4p1Vik+iMElnmCCAIgmMCnUpgospg+uK8A5VSS8GrKI2MWUonmswLUSQZ6YiZQJUBcgdV2PiS+vVQdpwOAcWByuRXAhReSkzoMqIzBrtVqbW0RjjGnHx8ep1Q2cg2vgWrgHwZF21Sjbhjo2ciFZv8v5jA6yERdbGZVoG+rYXqAWt2DZR9L4tTB6vlVPQPkG5BX4HfBE5Ir/zK3rmmEYsfIcqu3u7ibSTakLV6oFE60GFQhEQyloZFa4B+5NaAZHmFb0sqLok8pDCfOyhrjJYqeoJ/dH5T5pAlA/D8jC4JrNpmqxAF3XmLASsmSw8ExI/EVBTgrQG9Oah/BeJ8ilJlo2rbXvTwugLb8FXiy5oUW97YUWDVNa+zY1wBGuJtWMAXXloYA0RGWU4K6MEqArR0pcc6Q1Y5byTwk8HhVAlrBrFJYBTgEZJHBORgHQSthYMcsCp7irukHjUAD0lcDilA1O5pxywHl4eOhSABzK5ubmfZmumeSqKysrfcVN9SJ0yRyW+Z0OdJp/IiWaicC77+7uvkNLMesGTWY+SLCxQiWuUribuQFeXl5+FGNeb8aVzKzRQUw4PT39I47Pz8/XchPevb29z9fX1z9wp+fX2dlZrQqfZ21tbR2trq5+gPHS0tKXg4ODb7noEn6YM/z0albBJWFejjSvsWXbqwxtiBaOmxX6xs6X5hWU1ZOZf045BzgHOAf48gD+FWAAeLki+n4LRswAAAAASUVORK5CYII=');
}
.navbar .word-btn {
  font-size: 0.7rem;
  color: #333;
  width: auto;
  right: 0.6rem;
  top: 0.5rem;
  height: 1rem;
  line-height: 1rem;
}
