<!DOCTYPE html>
<html>
	<%- include('./common/head.ejs', { module: "about" }) %>
<body>
	
	<section class="pt-page-scaleUpCenter" id="J_container">
		<div id="J_map" class="baidu-map"></div>
	</section>
	
	<!-- footer -->
	<%- include('./common/footer-sub.ejs', { module: "about" }) %>	
	<!-- /footer -->

</body>
</html>

