<!DOCTYPE html>
<html>
	<%- include('./common/head.ejs', { module: "account" }) %>
<body>

	<section class="pt-page-scaleUpCenter" id="J_container">

		<div class="img-box">
			<img id="user-head" src="http://s0.husor.cn/image/blank.png" />
			<input type="file" accept="image/*" id="upload-img" />
		</div>

		<ul class="form-input">
			<li><label>姓名</label> <input type="text" id="J_username" placeholder="姓名" /> </li>
			<li>
				<label>性别</label>
				<select id="J_sex">
					<option data-sex="男">男</option>
					<option data-sex="女">女</option>
				</select>
			</li>

		</ul>

		<ul class="form-input">
			<li><label>所在城市</label>  <input type="text" id="J_city" placeholder="地区"/> </li>
			<li><label>积分</label>  <input type="text" id="J_score" placeholder="积分" disabled /></li>
		</ul>

		<div class="btn-operate" id="J_confirm-change">保存修改</div>
	</section>

	<!-- footer -->
	<%- include('./common/footer-sub.ejs', { module: "account" }) %>
	<!-- /footer -->

</body>
</html>
