<!DOCTYPE html>
<html>
	<%- include('./common/head.ejs', {title: "客户版首页"}) %>
<body>
	<!-- header -->
	<%- include('./common/navbar.ejs', {title: '主页'}) %>
	<!-- /header -->	

	<%- include('./common/footer.ejs') %>
</body>
</html>