<!DOCTYPE html>
<html>
	<%- include('./common/head.ejs', { module: "login" }) %>
<body>
	
	<section class="pt-page-scaleUpCenter" id="J_container">
		<ul class="login-input">
			<li><i class="icon-user"></i> <input type="number" id="J_username" placeholder="手机号" /> </li>
			<li><i class="icon-lock"></i> <input type="number" id="J_code" placeholder="验证码" /> <span id="J_getCode">获取验证码</span></li>
		</ul>

		<div class="login" id="J_login">登录</div>
	</section>
	
	<!-- footer -->
	<%- include('./common/footer-sub.ejs', { module: "login" }) %>	
	<!-- /footer -->

</body>
</html>

