@import "./common/common.less";

html,body {
	padding-bottom: 0;
	background: @g-color-grey9;
	height: 100%;
}

.news-detail {
	.fontSize(24);
	color: @g-color-grey1;

	h1 {
		padding: 30rem/@g-base 24rem/@g-base;
		.fontSize(36);
		span {
			margin-top: 15rem/@g-base;
			.fontSize(24);
			line-height: 40rem/@g-base;
			color: @g-color-grey3;
			float: right;
			i {
				margin-right: 10rem/@g-base;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		.fontSize(24);
		padding: 10rem/@g-base 24rem/@g-base;
	}
}

.review-list {
	margin-top: 30rem/@g-base;
	h2 {
		padding-left: 24rem/@g-base;
		padding: 20rem/@g-base 24rem/@g-base;
		.fontSize(30);
		color: @g-color-grey1;
	}
	border-bottom: 1px solid @g-color-grey7;
}

.review-item {
	.fontSize(0);
	padding: 15rem/@g-base 24rem/@g-base;
	border-top: 1px solid @g-color-grey7;

	.img-box {
		display: inline-block;
		vertical-align: top;
		width: 80rem/@g-base;
		height: 80rem/@g-base;
		border-radius: 40rem/@g-base;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.info-box {
		display: inline-block;
		vertical-align: top;
		padding-left: 20rem/@g-base;
		width: 620rem/@g-base;
		box-sizing: border-box;

		h3 {
			.fontSize(24);
			color: @g-color-grey1;

			span {
				.fontSize(20);
				float: right;
				color: @g-color-grey3;
			}
		}

		p {
			.fontSize(22);
			color: @g-color-grey1;
			.text-overflow();
		}
	}
}

.load-more {
	padding: 20rem/@g-base 50rem/@g-base 40rem/@g-base 50rem/@g-base;
	text-align: center;
	color: @g-color-grey3;
	.fontSize(24);

}
