<footer class="text-center">
	<p>copying right&copy;jafeney <small>jiafeng.lou@husor.com</small></p>
	<script src="../../js/lib/zepto.min.js"></script>
	<script src="../../js/users/index.js"></script>
</footer>