<%
    var _module = 'index';
    try{
        _module = module;
    }catch(e){
        _module = 'index';
    }
%>
<footer class="footer">
	<ul class="footerBar" id="J_footerBar">
		<li <% if (_module == "index") { %> class="active" <% } %> data-url="index.min.html" ><i class="icon icon-coffee"></i><br/>精选</li>
		<li <% if (_module == "news") { %> class="active" <% } %> data-url="news.min.html" ><i class="icon icon-th-large"></i><br/>动态</li>
		<li <% if (_module == "order") { %> class="active" <% } %> data-url="order.min.html" ><i class="icon icon-bookmark"></i><br/>预定</li>
		<li <% if (_module == "me") { %> class="active" <% } %> data-url="me.min.html" ><i class="icon icon-user"></i><br/>我</li>
	</ul>
	<script src="../../js/lib/zepto.min.js"></script>
	<script src="../../js/users/<%= _module + '.js' %>"></script>
</footer>