<%
    var navbar = '' ;
    try{
        navbar = title ;
    }catch(e){
        navbar = '客户版首页' ;
    }
%>
<section class="navbar J_navbar">
    <a class="back-btn J_backBtn"></a>
    <h1 class="title brand-title"><%= navbar %></h1>
    <a class="home-btn" href="/"></a>
</section>
